.errorWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-30);
    color: var(--error-color);
    margin: var(--margin-30);
}

.errorWrapper p {
    font-size: 16px;
    line-height: 12px;
}