.button{
   padding: var(--padding-button);
   border-radius: var(--border-radius);
   color: var(--secondary-text-color);
   background-color: var(--button-color);
   transition: all .3s;
   cursor: pointer;

   font-family: var(--font-family), sans-serif;

   @media screen and (min-width: 736px) and (max-width: 1024px) {
      font-size: var(--font-size-20);
   }
}

.button:hover{
    transform: scale(1.05);
}